/* Style the navbar */
.navbar {
    background-color: #333 
}
header {
    color: #FFF;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #41d67f;
    text-decoration: none;
  }
  
  nav a:hover {
    border-bottom: 2px solid #991111;
  }
  
  .header-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #FFB900;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #FFD600;
  }
html{
  background-image: url("img/home.jpg");
  background-size: 120% auto ;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: left;
  padding: 10px;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #555;
}


.container {
	max-width: 800px;
	margin: 0 auto;
}

p {
	margin: 0;
	text-align: center;
}
